.ipynb_checkpoints
UseData
01. Introduce to Data Science & Python Basics.docx
02. Simple Numpy.docx
03. Simple Pandas.docx
04. Simple Matplotlib, Seaborn.docx
05. Data analysis with Kaggle Titanic Data.docx
06. Simpe scikit-learn & ML Techniques.docx
07. Kaggle Boston house price prediction.docx
08. Simpe Random Forest Prediction.docx